body {
  color: rgb(255, 199, 167);
  font-family: Helvetica, sans-serif;
  background-color: rgba(61, 61, 61, 0.972);
  background-size: auto;
  text-align: left;
  font-size: larger;
  margin: 0;
  max-width: 1980px;
}

#background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  /* background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  position: static;
  min-width: 100%; */
  min-height: 100vh;
  width: 100vw;
  padding: 2rem;
  z-index: -1;
}

h1 {
  font-weight: 349;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

ol li {
  margin-top: 1rem;
}

ul li {
  margin-top: 0;
}

a {
  color: rgb(255, 143, 79);
  text-decoration: none;
}

a:link:hover,
a:visited:hover {
  color: rgb(252, 95, 5);
  text-decoration: underline;
}

a:visited {
  color: rgb(209, 82, 9);
}

.heading {
  display: flex;
  flex-direction: row;
  margin: 0% 13%;
  max-width: 100%;
}

/* .header-image {
  margin: 3%;
  border-radius: 50%;
  width: 24%;
  height: 24%;
  min-width: 5rem;
  min-height: 5rem;
  z-index: 100;
} */

.header-image {
  margin: 3%;
  border-radius: 50%;
  width: 13rem;
  height: 13rem;
  z-index: 100;
}

.header-text {
  /* margin: 3rem 3rem 3rem -8rem;
  background-color: rgba(61, 61, 61);
  width: 100%;
  z-index: 1;
  padding: 0.75em 0 0.75rem 9rem;
  border-radius: 0 1rem 1rem 0; */
  margin: 5% 5% 5% -8%;
  background-color: rgba(61, 61, 61);
  width: 100%;
  z-index: 1;
  padding: 0% 0% 0% 9%;
  border-radius: 0 1rem 1rem 0;
  grid-row-start: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-weight: lighter;
}

.box-styles {
  margin: 1% 13% 0% 13%;
  background-color: rgba(61, 61, 61, 0.972);
  padding: .5rem 2rem;
  position: relative;
  border-radius: 10px;
  z-index: 100;
}

.alien {
  width: 12rem;
  border-radius: 50%;
  margin-top: -5rem;
  margin-bottom: 3rem;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 200;
}

.links {
  padding: 3rem 1rem;
}

.links a {
  padding-right: 16%;
}

.box-styles p:last-of-type {
  margin-bottom: 5rem;
}

footer {
  background-color: rgb(61, 61, 61);
  font-size: medium;
  border-radius: 1rem;
  text-align: center;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: 0% 13% 3% 13%;
  margin-bottom: 1rem;
  position: relative;
}

.skills {
  grid-row-start: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.lists {
  grid-row-start: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* animation */
/* section {
  /* position: relative;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center; 
} */

section .set, section .rain {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.set, .rain {
  z-index: 0;
}

section .set div, section .rain div {
  position: absolute;
  display: block;
}

section .set div:nth-child(1) {
  left: 20%;
  animation: animate 30s linear infinite;
  animation-delay: -15s;
}

section .set div:nth-child(2) {
  left: 70%;
  animation: animate 35s linear infinite;
  animation-delay: -5s;
}

section .set div:nth-child(3) {
  left: 30%;
  animation: animate 35s linear infinite;
  animation-delay: 0s;
}

section .set div:nth-child(4) {
  left: 80%;
  animation: animate 30s linear infinite;
  animation-delay: -4s;
}

section .set div:nth-child(5) {
  left: 60%;
  animation: animate 33s linear infinite;
  animation-delay: -10s;
}

section .set div:nth-child(6) {
  left: 10%;
  animation: animate 25s linear infinite;
  animation-delay: -2s;
}

section .set div:nth-child(7) {
  left: 50%;
  animation: animate 29s linear infinite;
}

section .set div:nth-child(8) {
  left: 90%;
  animation: animate 30s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  10%{
    opacity: 1;
  }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    transform: translateX(-20px) rotate(90deg);
  }
  80% {
    transform: translateX(-20px) rotate(180deg);
  }
  100%{
    top: 100%;
    transform: translateX(-20px) rotate(225deg);
  }
}

section .rain div:nth-child(1) {
  left: 20%;
  animation: raindrops 15s linear infinite;
  animation-delay: -15s;
}

section .rain div:nth-child(2) {
  left: 70%;
  animation: raindrops 20s linear infinite;
  animation-delay: -5s;
}

section .rain div:nth-child(3) {
  left: 30%;
  animation: raindrops 20s linear infinite;
  animation-delay: 0s;
}

section .rain div:nth-child(4) {
  left: 80%;
  animation: raindrops 15s linear infinite;
  animation-delay: -4s;
}

section .rain div:nth-child(5) {
  left: 60%;
  animation: raindrops 18s linear infinite;
  animation-delay: -10s;
}

section .rain div:nth-child(6) {
  left: 10%;
  animation: raindrops 10s linear infinite;
  animation-delay: -2s;
}

section .rain div:nth-child(7) {
  left: 50%;
  animation: raindrops 14s linear infinite;
}

section .rain div:nth-child(8) {
  left: 90%;
  animation: raindrops 15s linear infinite;
}

@keyframes raindrops {
  0% {
    opacity: 1;
    top: -10%;
    transform: translateX(0vh);
  }
  75% {
    transform: translateX(-20px);
  }
  100% {
    opacity: 0;
    top: 100%;
    transform: translateX(-20px);
  }
}